/* ====================Add CSS  here==================*/

.main {
    min-height: calc(100vh - 64px); /* header height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }


  body {
    margin: 0;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: "Lucida Sans", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 400px;
    min-height: 320px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px 30px;
  }

.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.error-msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffe5e5;
    color: red;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
}

.close-btn {
    cursor: pointer;
    font-weight: bold;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}

.input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
}

.form-btn {
    width: 100%;
    padding: 12px 15px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 16px;
    font-weight: 600;
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 480px) {
    .container {
        padding: 20px 15px;
        border-radius: 8px;
    }

    .title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .sign-up-label, .page-link-label {
        font-size: 12px;
    }
}